.ImageSlider {
    .swiper-slide {
        padding-top: 70%;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    .swiper-button-prev {
        left: 30;
        color: rgb(255, 255, 255);
    }

    .swiper-button-next {
        right: 30;
        color: rgb(255, 255, 255);
    }
}

.ImageSlider-thumbs {
    .swiper-slide {
        cursor: pointer;
        border: 1px solid #c5c5c5;

        &-thumb-active {
            border: 3px black ;
        }
    }

    &-wrapper {
        width: 100%;
        padding-top: 80%;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
}